{% extends "base.html" %}

{% block title %}ADHD | MentalHealth App{% endblock %}

{% block content %}
<div class="article-container">
    <h1>Poremećaj hiperaktivnosti i deficita pažnje (ADHD)</h1>

    <p>
        Poremećaj hiperaktivnosti i deficita pažnje ili poremećaj pozornosti s hiperaktivnošću (eng. <em>attention deficit hyperactivity disorder, ADHD</em>) neurorazvojni je poremećaj sa simptomima nepažnje, hiperaktivnosti, emocionalne nereguliranosti i impulzivnosti u pretjeranoj mjeri tako da negativno utječe na život pojedinca<sup>[1]</sup>.
        Simptomi ADHD-a nastaju iz izvršne disfunkcije.
    </p>

    <p>
        Rezultati slabe samokontrole u područjima kao što su rukovanje vremenom, inhibicija nagona, započinjanje obavljanja zadataka ili održavanje pažnje mogu uključivati slabu profesionalnu učinkovitost, poteškoće u vezama i brojne zdravstvene probleme<sup>[2][3]</sup>, kao što su smanjena kvaliteta života i očekivani životni vijek<sup>[4]</sup>.
        ADHD je često povezan s drugim mentalnim i fizičkim oboljenjima, što dodatno komplicira funkcioniranje osobe.
    </p>

    <p>
        Iako ADHD uključuje nemogućnost održavanja pažnje na zadatku<sup>[2]</sup>, deficiti u inhibiciji dovode i do problema pri prekidanju već započetih zadataka.
        To može rezultirati hiperfokusom – nastavkom obavljanja zadatka unatoč promjenama konteksta<sup>[5]</sup>, što može povećati rizik za razvoj ovisnosti<sup>[6]</sup>.
    </p>

    <p>
        ADHD se ponekad teško razlikuje od sličnih stanja. Predstavlja ekstremni nedostatak izvršne funkcionalnosti i samokontrole, a dijagnostiku podržavaju snimke mozga i genetski nalazi.
    </p>

    <h2>Simptomi ADHD-a</h2>
    <p>
        Najčešći simptomi ADHD-a uključuju:
    </p>
    <div class="symptom-group">
        <ul>
            <li>Nepažnja</li>
            <li>Hiperaktivnost (ili unutarnji nemir kod odraslih)</li>
            <li>Impulzivnost</li>
            <li>Disruptivno ponašanje</li>
            <li>Problemi u školovanju i učenju</li>
            <li>Poteškoće u održavanju međuljudskih odnosa</li>
        </ul>
    </div>

    <h2>Dijagnostički kriteriji (DSM-5)</h2>
    <p>
        Prema DSM-5, simptomi moraju biti prisutni najmanje šest mjeseci, u razini većoj od očekivane za razvojnu dob<sup>[11]</sup>.
        Za djecu ispod 17 godina potrebno je najmanje 6 simptoma, dok za osobe starije od 17 godina najmanje 5 simptoma.
        Također, simptomi moraju biti prisutni u najmanje dva okruženja (npr. škola, posao, dom, društvo) i imati negativan utjecaj na funkcioniranje.
    </p>
    <p>
        Prema DSM-5, simptomi trebaju biti prisutni prije 12. godine života<sup>[12]</sup>, iako novija istraživanja sugeriraju da to ne mora nužno biti preduvjet za dijagnozu<sup>[13]</sup>.
    </p>

</div>
{% endblock %}
